= simple_form_for @order do |f|
  = f.simple_fields_for :order_items, dynamic: true do |rf|
    = rf.input :product_id
    = rf.input :count
    = rf.input :direction
    = rf.remove_fields_link 'Remove item'


  = f.add_fields_link :order_items, 'Add item', class: 'btn btn-sm btn-primary'
  = link_to 'Add product', new_product_path

  = f.submit
